.ms-n3 {
  margin-left: -1rem;
}

.btn-primary {
  border-color: var(--primary);
  background-color: var(--primary);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.page-link {
  color: var(--primary);
}

.page-item.active .page-link {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--primary);
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--primary);
  filter: brightness(85%);
}

.text-light a {
  color: #fff;
  font-weight: 600;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

body {
  --primary-rgb: 22, 80, 143;
  --primary: rgb(var(--primary-rgb));

  --info: #17a2b8;

  --footer-margin: 30px;
  --footer-height: 60px;

  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;

  --navbar-height: 56px;
  --navbar-margin: 16px;
  --top-height: var(--navbar-height) + var(--navbar-margin);
  --fab-bottom: 15px;
  --fab-right: 25px;
  --sidebar-width: 320px;
}

i.bi {
  line-height: 0 !important;
}

.big {
  font-size: 125%;
}

.mt-75 {
  margin-top: 0.75rem !important;
}

.btn.google {
  background-color: #d74a38 !important;
  border-color: #d74a38 !important;
}

.btn.facebook {
  background-color: #3a63bf;
  border-color: #3a63bf;
}

.btn.discord {
  background-color: #7289da;
  border-color: #7289da;
}

.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-rgb), 0.25);
}

.form-check-input:checked,
.list-group-item.active {
  border-color: var(--primary);
  background-color: var(--primary);
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  cursor: pointer;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.nowrap {
  white-space: nowrap;
}

.card-header,
.card-footer {
  text-align: center;
}

.game-choice .card {
  transition: border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.game-choice .card:hover {
  border-color: var(--info) !important;

  cursor: pointer;
}

.game-choice .card-header {
  transition: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.game-choice .card:hover .card-header {
  color: var(--info);
}
