.btn-primary {
  border-color: var(--primary);
  background-color: var(--primary);
}

.bg-primary {
  background-color: var(--primary) !important;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

body {
  --primary: #16508f;

  --footer-margin: 30px;
  --footer-height: 60px;

  --h1-font-size: 1.75rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1rem;
}
