.btn-primary {
  border-color: var(--primary);
  background-color: var(--primary);
}

.bg-primary {
  background-color: var(--primary) !important;
}

body {
  --primary: #16508f;

  --footer-margin: 30px;
  --footer-height: 60px;
}
