@import "./variables.scss";

@import "~bootstrap/scss/bootstrap.scss";

.container-fluid {
  @include media-breakpoint-down(xs) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.p-relative {
  position: relative !important;
}

.normal-size {
  font-size: $font-size-base !important;
}

@import "~bootstrap-vue";

.text-light a {
  color: white;
  font-weight: 600;
}

.mt-75 {
  margin-top: 0.75rem !important;
}
